@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qj4fcb');
  src:  url('fonts/icomoon.eot?qj4fcb#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qj4fcb') format('truetype'),
    url('fonts/icomoon.woff?qj4fcb') format('woff'),
    url('fonts/icomoon.svg?qj4fcb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-apple:before {
  content: "\e900";
}
.icon-brand1:before {
  content: "\e901";
}
.icon-brand2:before {
  content: "\e902";
}
.icon-brand3:before {
  content: "\e903";
}
.icon-brand4:before {
  content: "\e904";
}
.icon-brand5:before {
  content: "\e905";
}
.icon-brand6:before {
  content: "\e906";
}
.icon-brand7:before {
  content: "\e907";
}
.icon-brand8:before {
  content: "\e908";
}
.icon-car:before {
  content: "\e909";
}
.icon-email:before {
  content: "\e90a";
}
.icon-facebook:before {
  content: "\e90b";
}
.icon-inst:before {
  content: "\e90c";
}
.icon-logo:before {
  content: "\e90e";
}
.icon-payment:before {
  content: "\e90f";
}
.icon-playMarket:before {
  content: "\e910";
}
.icon-squares:before {
  content: "\e911";
}
.icon-twitter:before {
  content: "\e912";
}
