@use 'sass:math';
/*Подключение шрифтов /=============================================================================*/
@import 'fonts.scss';
/*=============================================================================================================*/
/*Размер шрифта по умолчанию /=============================================================================*/
$mainFontSize: 16; //?Заполнить
/*=============================================================================================================*/
/*Контейнер и сетка /=============================================================================*/
$mw:1170px; //?Заполнить
$minwidth:320px;
$md1:$mw+12px;
$md2:992.98px;
$md3:767.98px;
$md4:479.98px;
.container{
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}
/*=============================================================================================================*/
/*Иконочный шрифт /=============================================================================*/
@import 'icons';
/*=============================================================================================================*/
/*Обнуление /=============================================================================*/
@import 'null';
/*=============================================================================================================*/
/*Переменные для адаптивного свойства /=============================================================================*/
$maxWidth: 1920; //макс ширина
$maxWidthContainer: 1440; //ширина макета //?Заполнить
/*=============================================================================================================*/
/*Основные цвета /=============================================================================*/
$Orange: #FF6428;
$Grey: #666666;
/*=============================================================================================================*/
/*Подключение функций, миксинов /=============================================================================*/
@import 'functions';
/*=============================================================================================================*/
/*Основные стили /=============================================================================*/
body{
    font-size: rem($mainFontSize);
    font-family: 'Poppins', sans-serif;
    &.lock{
        overflow: hidden;
    }
}
.wrapper{
    min-height: 200%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.page{
    flex: 1 1 auto;
}
/*=============================================================================================================*/
/*Общие блоки /=============================================================================*/
.title{}
.button{}
/*=============================================================================================================*/
@import "header";
/*=============================================================================================================*/

/*=============================================================================================================*/
/*=============================================================================================================*/
/*=============================================================================================================*/
/*=============================================================================================================*/
/*=============================================================================================================*/
//footer
@import "footer";